<h1>Secret page</h1>
<button>Send</button>
<img src="https://farm4.staticflickr.com/3872/14435096036_39db8f04bc.jpg">
<a href="/login">login</a>
<a href="/register">register</a>
<a href="/logout">logout</a>
